.container {
    margin: 40px 0px;
    width: 50%;
    border: 1px solid red;
}

.school {
    color: rgb(58, 58, 58);
    margin-bottom: 5px;
}

.date {
    color: rgb(97, 97, 97);
    border-bottom: 1px solid rgb(58, 58, 58);
    padding-bottom: 8px;
    width: fit-content;
    margin: 20px 0px;
}



.description {
    line-height: 2rem;
}