.container {
    margin: 10px 0px;
    width: 80%;
}

.school {
    color: rgb(58, 58, 58);
    margin-bottom: 5px;
}

.date {
    color: rgb(97, 97, 97);
    border-bottom: 1px solid rgb(58, 58, 58);
    padding-bottom: 8px;
    width: fit-content;
    margin: 20px 0px;
}



.description {
    line-height: 2rem;
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 20px 0px;
        border: 1px solid red;
    }

    .school {
        margin-bottom: 10px;
    }

    .date {
        margin-bottom: 20px;
    }
}