.main {
    width: 100vw;
    height: 26vh;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;

}

.seperator {
    width: 1px;
    height: 80%;
    background-color: rgb(83, 83, 83);

}

.topBorder {
    width: 80%;
    height: 1px;
    background-color: rgb(83, 83, 83);
    margin-bottom: 60px;
    margin: 0 auto;

}


.sectionsContact {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email {
    width: 50%;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
    padding: 10px 20px;
}

.getInContact {
    font-size: 2rem;
    color: gray;
    margin-bottom: 20px;
}

.sections {
    width: 60%;
    display: flex;
    justify-content: center;
}


.linksContainer {
    width: 400px;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.link {
    text-decoration: none;
    list-style: none;
    margin: 5px 0px;
    color: rgb(39, 39, 39);
    font-size: 1.1rem;
}

.linksName {
    color: gray;
    font-size: 1.3rem;
    font-weight: bolder;
    border-bottom: 1px solid gray;
    margin-bottom: 15px;
}

@media only screen and (max-width: 600px)  {
    .main {
        flex-direction: column;
    }
}