.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 80vh;
  padding: 0px 5%;
  margin: 0;
  background-color: #e5e5e5;
  position: sticky;
}

.introName {
  width: 50%;
  font-size: 5rem;
  color: black;
  font-weight: lighter;
}

.projectsBtn{
  width: 400px;
  text-align: center;
  padding: 40px 20px;
  color: white;
  background-color: red;
  border: none;
  border-radius: 50px;
  font-size: 2rem;
  font-weight: bolder;
}

.homeProjectsContainer {
  width: 100vw;
  height: fit-content;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}