.container {
    padding: 20px;
    margin: 50px 0px;
    border: 1px solid red;
}

.iframe {
    border: none;
    width: 50vw;
    height: 50vh;

}

.name, .stack, .github {
    font-size: 1.5rem;
    color: black;
    margin: 20px 0px;
}